name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build and package
      run: |
        npm install
        npm run webpack
        npm install -g vsce
        vsce package

    - name: Copy dist artifacts to staging directory
      run: mkdir staging && cp ./*.vsix staging

    - name: Upload dist artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Package
        path: staging
